.small-button,
.medium-button,
.input-box {
  font-size: 45px;
  font-family: "Courier New", "Courier", monospace;
  border-style: solid;
  border-width: 2px;
  border-color: lightblue;
}

.input-box {
  width: 532px;
  height: 120px;
  font-size: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.input-text{
  width: 532px;
  overflow: hidden;
  /* This ensures overflow text is clipped on the left. */
  direction: rtl;
  text-overflow: ellipsis;
}

.calc-container {
  display: flex;
  flex-wrap: wrap;
  width: 536px;
  height: 402px;
}

.small-button {
  width: 134px;
  height: 134px;
}

.clear-button {
  font-size: 35px;
}

.operator {
  background-color: cornflowerblue;
}
