.small-button,
.medium-button,
.input-box {
  font-size: 45px;
  font-family: "Courier New", "Courier", monospace;
  border-style: solid;
  border-color: lightblue;
}

.input-box {
  width: 528px;
  height: 120px;
  font-size: 80px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.calc-container {
  display: flex;
  flex-wrap: wrap;
  width: 536px;
  height: 402px;
}

.small-button {
  width: 134px;
  height: 134px;
}

.medium-button {
  width: 201px;
  height: 134px;
}

.operator {
  background-color: cornflowerblue;
}
